<app-nav-menu></app-nav-menu>

<div class="timesheetbutton">
  <button type="button" class="btn btn-success btn-lg">Import Timesheet</button>
  <button type="button" class="btn btn-warning btn-lg">Export Timesheet</button>
</div>

<!-- Calendar view -->

<div class="card text-white bg-secondary mb-3 timesheetcalendar">
  <div class="card-header">Timesheet</div>
  <div class="card-body">

    <div class="calendar-container">
      <div class="calendar-header">
        <h1> November<button>▾</button></h1>
        <p>2021</p>
      </div>
      <div class="calendar">
        <span class="day-name">Mon</span><span class="day-name">Tue</span><span class="day-name">Wed</span><span class="day-name">Thu</span><span class="day-name">Fri</span><span class="day-name">Sat</span><span class="day-name">Sun</span>
        <div class="day day--disabled">30</div>
        <div class="day day--disabled">31</div>
        <div class="day">1</div>
        <div class="day">2</div>
        <div class="day">3</div>
        <div class="day">4</div>
        <div class="day">5</div>
        <div class="day">6</div>
        <div class="day">7</div>
        <div class="day">8</div>
        <div class="day">9</div>
        <div class="day">10</div>
        <div class="day">11</div>
        <div class="day">12</div>
        <div class="day">13</div>
        <div class="day">14</div>
        <div class="day">15</div>
        <div class="day">16</div>
        <div class="day">17</div>
        <div class="day">18</div>
        <div class="day">19</div>
        <div class="day">20</div>
        <div class="day">21</div>
        <div class="day">22</div>
        <div class="day">23</div>
        <div class="day">24</div>
        <div class="day">25</div>
        <div class="day">26</div>
        <div class="day">27</div>
        <div class="day">28</div>
        <div class="day">29</div>
        <div class="day">30</div>
        <div class="day">31</div>
        <div class="day day--disabled">1</div>
        <div class="day day--disabled">2</div>
        <section class="task task--warning">Employee 1</section>
        <section class="task task--danger">Employee 2</section>
        <section class="task task--primary">
          Employee 3<div class="task__detail">
                      <h2>Employee 3</h2>
            <p>Job 1</p>
          </div>
        </section>
        <section class="task task--info">Employee 5</section>
      </div>
    </div>
  </div>
</div>
