<table *ngIf="Students && Students.length > 0">
  <thead>
    <tr>
      <th style="border:1px solid #000000">Serial</th>
      <th style="border:1px solid #000000">Id</th>
      <th style="border:1px solid #000000">Name</th>
      <th style="border:1px solid #000000">Roll</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of Students; let i = index">
      <td style="border:1px solid #000000">{{i+1}}</td>
      <td style="border:1px solid #000000">{{student.id}}</td>
      <td style="border:1px solid #000000">{{student.name}}</td>
      <td style="border:1px solid #000000">{{student.roll}}</td>
    </tr>
  </tbody>
</table>
