<div class="homePage">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <span>SmartContracting</span>

            <span class="menu-spacer"></span>

            <div fxShow="true" fxHide.lt-md>
                <a mat-button (click)="onHome()">Homepage</a>
                <a mat-button (click)="onProfile()">Profile</a>
                <a mat-button (click)="onTimesheet()">Timesheet</a>
                <a mat-button  routerLink="" >Logout</a>

            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        
        <mat-sidenav #sidenav class="mbMenu" autosize>
            <mat-nav-list>
                <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
                <p style="color: #673ab7; font-size: 25px; font-weight: 800;">{{ user }}</p>
                <p style="color: #673ab7; font-size: 15px;">worked: {{ worked }}</p>
                <a mat-list-item (click)="onHome()">Homepage</a>
                <a mat-list-item (click)="onProfile()">Profile</a>
                <a mat-list-item (click)="onTimesheet()">Timesheet</a>
                <a mat-list-item  routerLink="" >Logout</a>

            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content fxFlexFill>
                <!-- <app-mb-clock *ngIf="child==''"></app-mb-clock> -->
                <app-mb-profile *ngIf="child=='profile'"></app-mb-profile>
                <app-mb-timesheet *ngIf="child=='timesheet'"></app-mb-timesheet>
                
                <div *ngIf="child==''">
                    <agm-map [latitude]="locations[0].lat" [longitude]="locations[0].lng" [zoom]="15" [disableDefaultUI]="true">
                        <agm-marker *ngFor="let location of locations" [latitude]="location.lat" [longitude]="location.lng">
                        </agm-marker>
                    </agm-map>
                    
                    <div *ngIf="(!state && !break) || (state && break); else notCountingTime">
                        <div class="currentTime">{{ myTime }}</div>
                        <div class="currentDate">{{ myDate }}</div>
                    </div>
                    <ng-template #notCountingTime>
                        <div class="currentTime colorGreen">{{ myTime }}</div>
                        <div class="currentDate colorGreen">{{ myDate }}</div>
                    </ng-template>
                    
                    
                    <div *ngIf="state; else notState">
                        <a class="clockbuttonShadow1 bgRed"></a>
                        <a class="clockbuttonShadow2 bgRed"></a>
                        <a class="clockbutton bgRed" (click)="clocking()"><span><i class="fa fa-clock-o"
                                    aria-hidden="true"></i></span><span>End Shift</span></a>
                    </div>
                    <ng-template #notState>
                        <a class="clockbuttonShadow1"></a>
                        <a class="clockbuttonShadow2"></a>
                        <a class="clockbutton" (click)="clocking()"><span><i class="fa fa-clock-o" aria-hidden="true"></i></span><span>Start
                                Shift</span></a>
                    </ng-template>
                    
                    
                    <div *ngIf="!break; else notTakeBreak">
                        <button mat-raised-button (click)="breaking()" color="primary" type="button" class="breakbutton"><i
                                class="fa fa-coffee" aria-hidden="true"></i> Take Break</button>
                    </div>
                    <ng-template #notTakeBreak>
                        <button mat-raised-button (click)="breaking()" color="danger" type="button" class="breakbutton"><i
                                class="fa fa-coffee" aria-hidden="true"></i> End Break</button>
                    </ng-template>
                </div>


            
        </mat-sidenav-content>
    </mat-sidenav-container>

    <div class="panelWrapper" id="popup">
        <div class="popupPanel">
            <p> Shift: {{popupString[0]}} <br><br>
                Break: {{popupString[1]}} <br><br> 
                Work: {{popupString[2]}}<br><br><br>
                <button (click)="closePopup()" class="btn btn-primary"> OK </button>
            </p>
        </div>
	</div>

</div>