<div class="homePage">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <span>SmartContracting</span>

            <span class="menu-spacer"></span>

            <div fxShow="true" fxHide.lt-md>
                <a mat-button (click)="onHome()">Homepage</a>
                <a mat-button (click)="onProfile()">Profile</a>
                <a mat-button (click)="onTimesheet()">Timesheet</a>
                <a mat-button  routerLink="" >Logout</a>

            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        
        <mat-sidenav #sidenav class="mbMenu" autosize>
            <mat-nav-list>
                <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
                <p>{{ user }}</p>
                <a mat-list-item (click)="onHome()">Homepage</a>
                <a mat-list-item (click)="onProfile()">Profile</a>
                <a mat-list-item (click)="onTimesheet()">Timesheet</a>
                <a mat-list-item  routerLink="" >Logout</a>

            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content fxFlexFill>
                <app-mb-clock *ngIf="child==''"></app-mb-clock>
                <app-mb-profile *ngIf="child=='profile'"></app-mb-profile>
                <app-mb-timesheet *ngIf="child=='timesheet'"></app-mb-timesheet>
            
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>