<div class="headerWrapper">
    <nav class="navbar navbar-expand-lg bg-dark mb-md-4 justify-content-between">
        <div id="iTitle" routerLink="/admin/home">
            Admin SubConCo
        </div>
        <div class="btn-menu">
            <a class="btn navbar-toggler" data-toggle="collapse" href="#btn-menu" role="button" aria-expanded="false"
                aria-controls="collapse123">
                <span class="fas fa-user-cog"></span>
            </a>
        </div>
        <div class="mk-dropdown-menu menu-group mb-4">
            <div class="collapse navbar-collapse" id="btn-menu">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/profile">Profile</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" routerLink="/admin/schedule">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/team">Teams</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" routerLink="/">
                            Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
