<div class="container">

    <table class="table table-hover m-4">
        <thead class="card-header">
            <tr>
                <th colspan="1"><span class="badge badge-secondary">Off on Vacation</span></th>
                <th colspan="1">Start: 01/01/2021</th>
                <th colspan="1">To: 29/09/2021</th>
                <th colspan="2">Hours worked: 60hours 30min</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th colspan="1">period</th>
                <th colspan="1">from</th>
                <th colspan="1">to</th>
                <th colspan="1">period hours</th>
                <th colspan="1">recorded</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="badge badge-secondary">Period 1</span></td>
                <td>21/12/2021</td>
                <td>21/1/2021</td>
                <td>10hour 30min</td>
                <td><span class="badge badge-info"><a href="#">record.pdf</a></span></td>
            </tr>
            <tr>
                <td><span class="badge badge-secondary">Period 2</span></td>
                <td>21/12/2021</td>
                <td>21/1/2021</td>
                <td>10hour 30min</td>
                <td><span class="badge badge-info"><a href="#">record.pdf</a></span></td>
            </tr>
            <tr>
                <td><span class="badge badge-secondary">Period 3</span></td>
                <td>21/12/2021</td>
                <td>21/1/2021</td>
                <td>10hour 30min</td>
                <td><span class="badge badge-info"><a href="#">record.pdf</a></span></td>
            </tr>
            <tr>
                <td><span class="badge badge-success">Period 4</span></td>
                <td>21/9/2021</td>
                <td>21/10/2021</td>
                <td>10hour 30min</td>
                <td>N/A</td>
            </tr>
        </tbody>
    </table>

</div>