<div class="homePage">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>SmartContracting</span>
      
      <div fxShow="true" fxHide.lt-md>

        <a mat-button (click)="navHome()">Home</a>
        <a mat-button (click)="navTimeSheet()">Timesheet</a>
        <a mat-button (click)="navAccount()">Account Managing</a>

      </div>

      <span class="menu-spacer"></span>

      <div fxShow="true" fxHide.lt-md>

        <a mat-button>{{ user }}</a>
        <a mat-button><img class="navAvatar" src="https://material.angular.io/assets/img/examples/shiba1.jpg"></a>

      </div>

    </mat-toolbar-row>
  </mat-toolbar>
</div>