<h1>Product Details</h1>

<p *ngIf="!(Products$ | async)"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">New post</a>
</p>

<table class="table table-sm table-hover" *ngIf="(Products$ | async)?.length>0">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Creator</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Product of (Products$ | async)">
      <td>{{ Product.Id }}</td>
      <td><a [routerLink]="['/Product/', Product.Id]">{{ Product.Name }}</a></td>
      <td>{{ Product.Quantity }}</td>
      <td>{{ Product.Language}}</td>
      <td><a [routerLink]="['/Product/edit/', Product.Id]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="delete(Product.Id)" class="btn btn-danger btn-sm float-right">Delete</a></td>
    </tr>
  </tbody>
</table>
