<app-nav-home></app-nav-home>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Calendar">

    <kendo-scheduler
      [kendoSchedulerBinding]="eventList"
      [selectedDate]="selectedDate"
      scrollTime="08:00"
      style="height: 600px;"
    >
      <kendo-scheduler-day-view> </kendo-scheduler-day-view>

      <kendo-scheduler-week-view> </kendo-scheduler-week-view>

      <kendo-scheduler-month-view> </kendo-scheduler-month-view>

      <kendo-scheduler-timeline-view> </kendo-scheduler-timeline-view>

      <kendo-scheduler-agenda-view> </kendo-scheduler-agenda-view>
    </kendo-scheduler>

  </mat-tab>
  
  <mat-tab label="Create Event">

    <div class="tab">

      <mat-form-field appearance="fill">
        <mat-label>Select User ID</mat-label>
        <mat-select id="user" [(ngModel)]="selectedUser" name="user">
            <mat-option (click)="noneRefresh()">None</mat-option>
            <mat-option (click)="selectUser()" *ngFor="let user of users" [value]="user.value">{{ user.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput id="name" readonly>
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Event Title</mat-label>
          <input matInput id="title">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Start Time</mat-label>
        <input matInput id="start">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>End Time</mat-label>
        <input matInput id="end">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <input matInput [matDatepicker]="picker" id="datePickCreate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>

      <button mat-raised-button color="primary" (click)="createEvent()">Create</button>

      <br>

      <div class="invalid-feedback" id="invalid-feedback">Request fails, please try again.</div>
      <div class="valid-feedback" id="valid-feedback">You have succeed adding new Event.</div>

    </div>

  </mat-tab>
  <mat-tab label="Update Event">

    <div class="tab">

      <mat-form-field appearance="fill">
        <mat-label>Select Event ID</mat-label>
        <mat-select id="event" [(ngModel)]="selectedEvent" name="event">
            <mat-option (click)="noneRefreshEvent()">None</mat-option>
            <mat-option (click)="selectEvent()" *ngFor="let event of events" [value]="event.value">{{ event.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput id="nameUpdate" readonly>
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Event Title</mat-label>
          <input matInput id="titleUpdate">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Start Time</mat-label>
        <input matInput id="startUpdate">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>End Time</mat-label>
        <input matInput id="endUpdate">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <input matInput [matDatepicker]="picker1" id="datePickUpdate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <br>

      <button mat-raised-button color="primary" (click)="updateEvent()">Create</button>

      <br>

      <div class="invalid-feedback" id="invalid-feedback">Request fails, please try again.</div>
      <div class="valid-feedback" id="valid-feedback">You have succeed adding new Event.</div>

    </div>
    
  </mat-tab>
</mat-tab-group>

